body{
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    background: #b35900;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ffcc99, #b35900);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,#ffcc99, #b35900); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container
{
    position: relative;
    background: url('pexels-faik-akmd-1025469.jpg') no-repeat center center;
    height: 48rem;
    width: 100%;
    display: block;
    left:0px;

}
.header
{
    height: 50px;
    width:1500px;
    background: #fff2e6;  /* fallback for old browsers */

    border-bottom:2px solid #0f0f0f;
    padding-top: 50px;
    font-size: 40px;
    color:black;
    font-weight: 800;
    margin-left: 0px;
    text-shadow: pink;
}

.head{
    font-family:  Arial, Helvetica, sans-serif;
}

.btn{
    position:absolute;
    top: 8px;
    margin-left: 700px;

}

button{
    height:40px;
    width:150px;
    margin-top: 10px;
    background:#339933;  /* fallback for old browsers */


    border: 1px solid black;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

#data
{
    width:99%;
    height:450px;
    text-align: right;
    justify-content: center;
    display: flex;
}
.table
{
    width:800px;
}
table{

    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font: 700;
}
table tr :hover{


    border-radius: 4px solid red;
    border-radius: 50%;
}
#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
